h1{
    color: #0000ff;
    margin: 20px;
    padding: 15px;
}

body{
    background-color: #808080;
}

.header{
    background-color: #008000;
    display : flex;
    justify-content: space-between;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;
}

p, h2{
    text-align: center;
    
}